.chess {
  width: 100%;
  height: 90vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  &__field {
    border: 1px solid #000;
    width: 576px;
    height: 576px;
    position: relative;
  }
  &__cell {
    position: absolute;
  }
}